<div class="home-container">
    <div class="white-border-class-box">
      <div class="home-head-container">
        <div class="row">
          <div class="col-xs-auto">
            <div class="avatar-frame-online">
              <img src="/assets/img/generic_avatar.png" alt="Avatar" class="home-avatar-picture">
            </div>
          </div>
          <div class="col">
            <b>Juan</b>
            <div class="">
              <span>Online</span>
              <br>
              <span>Escribe un mensaje personal</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="white-container-padded marto15">
        <div class="row">
          <div class="col">
            <input class="form-control" type="text" placeholder="Buscar amigo"  [(ngModel)]="query">
          </div>
          <div class="col-xs-auto">
            <img class="icon" src="/assets/img/logo_live_add.png" alt="Añadir amigo">
          </div>
        </div>
        <hr>
        <b *ngIf="friends">Amigos {{ friends.length }} / {{ friends.length }}</b>
        <div class="disblo marbo5" *ngFor="let user of friends | search: query; let i = index">
          <span class="friend-item" routerLink="/conversation/{{user.uid}}">
            <img class="icon" src="/assets/img/logo_live_online.png" alt="Estatus">
             <b>{{ user.nick }}</b> - {{ user.subnick || 'No subnick'}}
             <small>{{ user.email }}</small>
          </span>          
        </div>
    </div>
</div>
